{% load i18n %}
{# DHCP reservation dropdown button #}
{# % if perms.netbox_attachments.add_netboxattachment or perms.netbox_attachments.add_netboxattachmentassignment % #}
    <div class="btn-group" role="group">
        <button class="btn btn-green dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="mdi mdi-tools" aria-hidden="true"></i>
            {% trans "DHCP Reservations" %}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
        
            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&initial_device_name=PRT&flavor=printer&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-printer" aria-hidden="true"></i>
                   &nbsp;-&nbsp;PRINTER
                </a>
            </li>
        
            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&flavor=user&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-account" aria-hidden="true"></i>
                    &nbsp;-&nbsp;any USER device
                </a>
            </li>
        
            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&flavor=wms&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-forklift" aria-hidden="true"></i>
                    &nbsp;-&nbsp;WMS device
                </a>
            </li>
        
            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&flavor=std&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-auto-fix" aria-hidden="true"></i>
                    &nbsp;-&nbsp;STANDARD LAN devices
                </a>
            </li>
   
            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&flavor=lan&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-lan" aria-hidden="true"></i>
                    &nbsp;-&nbsp;ALL LAN devices
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                    href="{% url 'plugins:sop_infra:helpers_dhcp' %}?forced_site_id={{ object.pk }}&flavor=manual&return_url={{ request.get_full_path|urlencode }}">
                    <i class="mdi mdi-gesture" aria-hidden="true"></i>
                    &nbsp;-&nbsp;MANUAL reservation
                </a>
            </li>
        </ul>
    </div>
{# % endif % #}



