{% extends "generic/object.html" %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load perms %}
{% load plugins %}
{% load infra_custom_tags %}
{% load i18n %}


{% block breadcrumbs %}
  {{ block.super }}
  {% if object.site.region %}
    {% for region in object.site.region.get_ancestors %}
      <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ region.pk }}">{{ region }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ object.site.region.pk }}">{{ object.site.region }}</a></li>
  {% elif object.site.group %}
    {% for group in object.site.group.get_ancestors %}
      <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ group.pk }}">{{ group }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ object.site.group.pk }}">{{ object.site.group }}</a></li>
  {% endif %}
{% endblock %}


{% block control-buttons %}
  {% if perms.extras.add_bookmark and object.bookmarks %}
    {% bookmark_button object %}
  {% endif %}
  {% if perms.extras.add_subscription and object.subscriptions %}
    {% subscribe_button object %}
  {% endif %}
  {% if request.user|can_change:object %}
    {% include 'sop_infra/tools/refresh.html' with object=object.site %}
    {% edit_button object %}
  {% endif %}
  {% if request.user|can_delete:object %}
    {% delete_button object %}
  {% endif %}
{% endblock control-buttons %}



{% block title %}{{object}}{% endblock %}

{% block content %}
  {% include "sop_infra/inc/sopinfra_content.html" with object=infra %}
{% endblock content %}
