{% extends 'generic/object.html' %}
{% load sop_perms %}
{% load sop_buttons %}
{% load infra_custom_tags %}
{% load i18n %}

{% block extra_controls %}
  {% if request.user|can_refresh:object %}
    {% refresh_button object %}
  {% endif %}
{% endblock extra_controls %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Meraki Organization</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.nom }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>         
            <tr>
              <th scope="row">Meraki OrgID</th>
              <td>{{ object.meraki_id }}</td>
            </tr>
            <tr>
              <th scope="row">Meraki URL</th>
              <td>
                {% if object.meraki_url %}
                <a href="{{ object.meraki_url }}" target="blank">{{ object.meraki_url }}</a>
                {% else %}
                - 
                {% endif %}
              </td>
            </tr>    
            <tr>
              <th scope="row">Meraki API</th>
              <td>
                {% if object.meraki_api %}
                  {{ object.meraki_api }}</a>
                {% else %}
                - 
                {% endif %}
              </td>
            </tr>  
            <tr>
              <th scope="row">Meraki Cloud</th>
              <td>
                {% if object.meraki_cloud %}
                  {{ object.meraki_cloud }}</a>
                {% else %}
                - 
                {% endif %}
              </td>
            </tr>  
            <tr>
              <th scope="row">Meraki Licensing</th>
              <td>
                {% if object.meraki_licensing %}
                  {{ object.meraki_licensing }}</a>
                {% else %}
                - 
                {% endif %}
              </td>
            </tr>  
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      <div class="card">
        <h5 class="card-header">SOP MERAKI</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Dashboard</th>
              <td>
                {% if object.dash %}
                <a href="{{ object.dash.get_absolute_url }}">{{ object.dash }}</a></td>
                {% else %}
                - 
                {% endif %}
            </tr>     
            <tr>
              <th scope="row">Networks</th>
              <td><a href="{% url 'plugins:sop_infra:sopmerakinet_list' %}?org={{object.pk}}">{{ object.nets.count }}</a></td>
            </tr>
            <tr>
              <th scope="row">Devices</th>
              <td><a href="{% url 'plugins:sop_infra:sopmerakidevice_list' %}?org={{object.pk}}">{{ object.devices.count }}</a></td>
            </tr> 
          </table>
        </div>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h2 class="card-header">Meraki Nets</h2>
          {% htmx_table 'plugins:sop_infra:sopmerakinet_list' org_id=object.pk %}
      </div>
    </div>
  </div>
  {% endblock content %}