{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Meraki Network</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.nom }}</td>
            </tr>
            <tr>
              <th scope="row">Serial</th>
              <td>{{ object.serial }}</td>
            </tr>           
            <tr>
              <th scope="row">Netbox Device</th>
              <td>
                {% if object.netbox_device %}
                <a href="{{ object.netbox_device.get_absolute_url }}">{{ object.netbox_device }}</a>
                {% else %}
                &mdash; 
                {% endif %}
              </td>
            </tr> 
            <tr>
              <th scope="row">Model</th>
              <td>{{ object.model }}</td>
            </tr>           
            <tr>
              <th scope="row">Netbox Device Type</th>
              <td>
                {% if object.netbox_dev_type %}
                <a href="{{ object.netbox_dev_type.get_absolute_url }}">{{ object.netbox_dev_type }}</a>
                {% else %}
                &mdash; 
                {% endif %}
              </td>
            </tr> 
            <tr>
              <th scope="row">MAC Address</th>
              <td>{{ object.mac }}</td>
            </tr>    
            <tr>
              <th scope="row">Meraki Notes</th>
              <td>{{ object.meraki_notes }}</td>
            </tr>
            <tr>
              <th scope="row">Meraki tags</th>
              <td>{{ object.meraki_tags }}</td>
            </tr>   
            <tr>
              <th scope="row">Product type</th>
              <td>{{ object.ptype }}</td>
            </tr>               
            <tr>
              <th scope="row">firmware</th>
              <td>{{ object.firmware }}</td>
            </tr>  
            <tr>
              <th scope="row">meraki_details</th>
              <td>{{ object.meraki_details }}</td>
            </tr>    
            <tr>
              <th scope="row">Meraki Organization</th>
              <td>
                {% if object.org %}
                <a href="{{ object.org.get_absolute_url }}">{{ object.org }}</a>
                {% else %}
                &mdash;
                {% endif %}
              </td>
            </tr>   
            <tr>
              <th scope="row">Meraki Network ID</th>
              <td>{{ object.meraki_netid }}</td>
            </tr>           
            <tr>
              <th scope="row">Meraki Network</th>
              <td>
                {% if object.meraki_network %}
                <a href="{{ object.meraki_network.get_absolute_url }}">{{ object.meraki_network }}</a>
                {% else %}
                &mdash; 
                {% endif %}
              </td>
            </tr> 
            <tr>
              <th scope="row">Site</th>
              <td>
                {% if object.site %}
                <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                {% else %}
                &mdash; 
                {% endif %}
              </td>
            </tr> 
            <tr>
              <th scope="row">Switch stack</th>
              <td>
                {% if object.stack %}
                <a href="{{ object.stack.get_absolute_url }}">{{ object.stack }}</a>
                {% else %}
                &mdash;
                {% endif %}
              </td>
            </tr> 
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}