{% extends 'generic/object.html' %}
{% load sop_perms %}
{% load sop_buttons %}
{% load infra_custom_tags %}
{% load i18n %}

{% block extra_controls %}
  {% if request.user|can_refresh:object %}
    {% refresh_button object %}
  {% endif %}
{% endblock extra_controls %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Meraki Information</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.nom }}</td>
            </tr> 
            <tr>
              <th scope="row">Bound to template</th>
              <td>{{ object.bound_to_template }}</td>
            </tr>           
            <tr>
              <th scope="row">Meraki Network ID</th>
              <td>{{ object.meraki_id }}</td>
            </tr>           
            <tr>
              <th scope="row">Meraki URL</th>
              <td>
                {% if object.meraki_url %}
                <a href="{{ object.meraki_url }}" target="blank">{{ object.meraki_url }}</a>
                {% else %}
                - 
                {% endif %}
              </td>
            </tr>           
            <tr>
              <th scope="row">Meraki Notes</th>
              <td>{{ object.meraki_notes }}</td>
            </tr>
            <tr>
              <th scope="row">Meraki tags</th>
              <td>{{ object.meraki_tags }}</td>
            </tr>   
            <tr>
              <th scope="row">Product types</th>
              <td>{{ object.ptypes }}</td>
            </tr>               
            <tr>
              <th scope="row">Timezone</th>
              <td>{{ object.timezone }}</td>
            </tr>    

          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      <div class="card">
        <h5 class="card-header">Netbox</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Site</th>
              <td>
                {% if object.site %}
                <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                {% else %}
                &mdash; 
                {% endif %}
              </td>
            </tr>             
          </table>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">SOP MERAKI</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Meraki Dashboard</th>
              <td>
                {% if object.org.dash %}
                <a href="{{ object.org.dash.get_absolute_url }}">{{ object.org.dash }}</a>
                {% else %}
                &mdash;
                {% endif %}
              </td>
            </tr>   
            <tr>
              <th scope="row">Meraki Organization</th>
              <td>
                {% if object.org %}
                <a href="{{ object.org.get_absolute_url }}">{{ object.org }}</a>
                {% else %}
                &mdash;
                {% endif %}
              </td>
            </tr>   
            <tr>
              <th scope="row">Devices</th>
              <td><a href="{% url 'plugins:sop_infra:sopmerakidevice_list' %}?meraki_network={{object.pk}}">{{ object.devices.count }}</a></td>
            </tr>  
            <tr>
              <th scope="row">Switch stacks</th>
              <td><a href="{% url 'plugins:sop_infra:sopmerakiswitchstack_list' %}?net={{object.pk}}">{{ object.switch_stacks.count }}</a></td>
            </tr>  
          </table>
        </div>
      </div>    
    </div>
  </div>
  {% if object.switch_stacks.count %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h2 class="card-header">Switch stacks</h2>
          {% htmx_table 'plugins:sop_infra:sopmerakiswitchstack_list' net_id=object.pk %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h2 class="card-header">Devices</h2>
          {% htmx_table 'plugins:sop_infra:sopmerakidevice_list' meraki_network=object.pk %}
      </div>
    </div>
  </div>
{% endblock content %}