{% extends "dcim/site.html" %}
{% load helpers %}
{% load plugins %}
{% load buttons %}
{% load perms %}
{% load i18n %}



{% block controls %}
  <div class="btn-list justify-content-end mb-2">
  {% if request.user|can_change:infra and infra.pk %}
    {% include 'sop_infra/inc/refresh_btn.html' with site=object %}
    <a href="{% url 'plugins:sop_infra:sopinfra_edit' pk=infra.pk %}?return_url={{ request.get_full_path }}" type="button" class="btn btn-yellow">
      <i class="mdi mdi-pencil"></i>{% trans "Edit Infrastructure" %}
    </a>
  {% endif %}
  </div>
{% endblock controls %}


{% block content %}
  {% include "sop_infra/inc/sopinfra_content.html" with object=infra %}

<script>
  document.addEventListener('DOMContentLoaded', function()
  {
    const all_tabs = document.querySelectorAll('ul.nav.nav-tabs li.nav-item a');
    update_current_tab_color(all_tabs, 'SOP Infra')

    /*
     * update tab front background color
     */
    function update_current_tab_color(all_tabs, tab_name)
    {
      all_tabs.forEach(tab => {
        if (tab.innerText.trim() == "Site") {
          tab.classList.remove('active');
        } else if (tab.innerText.trim() == tab_name) {
          tab.classList.add('active');
        }
      });
    }
  });
</script>

{% endblock content %}

